<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{editlayout}">
<head>
    <meta charset="UTF-8">
    <title>新扩建工程编辑</title>
</head>
<body>
<div class="main-container-inner" layout:fragment="edit-content">
    <form id="editForm">
        <div class="widget-body">
            <div class="widget-main">
                <div style="text-align: left; padding-left: 12px" >
                    <span class="icon-warning-sign red" id="errorMsg" style="display:none"></span>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
                        <li class="active"><a data-toggle="tab" href="#home1">基本信息</a></li>
                        <li><a data-toggle="tab" href="#home2">设备信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home1" class="tab-pane  in active">
                            <div class="widget-header">
                                <h4>
                                    电站改造工程</h4>
                                <div class="widget-toolbar" style="line-height: 20px;">
                                    <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <table>
                                        <tr>
                                            <th class="th"> 项目名称:</th>
                                            <td class="td">
                                                <input type="text" name="xmmc" data-valuType="string" th:value=${entity.xmmc} />
                                                <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                运维单位：
                                            </th>
                                            <td class="td">
                                                <select name="ywdwId" class="chosen-select">
                                                    <option th:each="ywdw:${ywdws}" th:value="${ywdw.key}"
                                                            th:text="${ywdw.value}"
                                                            th:selected="${ywdw.key==entity.ywdwId}"></option>
                                                </select>
                                                <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                所属区域：
                                            <td class="td">
                                                <select name="qyId" class="chosen-select">
                                                    <option th:each="qy:${qys}" th:value="${qy.key}"
                                                            th:text="${qy.value}"
                                                            th:selected="${qy.key==entity.qyId}"></option>
                                                </select>
                                            <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                        </td>
                                        </tr>
                                        <tr>
                                            <th class="th"> 规划年份:</th>
                                            <td class="td">
                                                <input type="text" name="ghnf" th:value=${entity.ghnf} class="Wdate" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy',minDate:'1900',maxDate:'2099'})" />
                                                <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                供区类型：
                                            <td class="td">
                                                <select name="gqlx" class="chosen-select">
                                                    <option th:each="gqlx:${gqlxs}" th:value="${gqlx.key}"
                                                            th:text="${gqlx.value}"
                                                            th:selected="${gqlx.key==entity.gqlx}"></option>
                                                </select>
                                            <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                        </td>
                                            <th class="th">
                                                电压等级(kV)：
                                            </th>
                                            <td class="td">
                                                <select name="voltage" class="chosen-select">
                                                    <option th:each="voltage:${voltages}" th:value="${voltage.key}"
                                                            th:text="${voltage.value}"
                                                            th:selected="${voltage.key==entity.voltage}"></option>
                                                </select>
                                                <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="th">
                                                城农网：
                                            </th>
                                            <td class="td">
                                                <select name="cnw" class="chosen-select">
                                                    <option th:each="cnw:${cnws}" th:value="${cnw.key}"
                                                            th:text="${cnw.value}"
                                                            th:selected="${cnw.key==entity.cnw}"></option>
                                                </select>
                                                <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                资产属性：
                                            </th>
                                            <td class="td">
                                                <input type="text" name="zcsx" th:value=${entity.zcsx} />
                                                <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                计划总投资(万元)：
                                            </th>
                                            <td class="td">
                                                <input type="text" name="xmtz" th:value=${entity.xmtz} data-valuType="float"
                                                       onkeyup="if(isNaN(value))execCommand('undo')"
                                                       onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="th">
                                                农网建设性质1：
                                            </th>
                                            <td class="td">
                                                <select name="nwjsxz1" class="chosen-select">
                                                    <option value="">--请选择--</option>
                                                    <option th:selected="${entity.nwjsxz1=='未改造地区农网改造升级'}"
                                                            value="未改造地区农网改造升级">已改造地区农网改造升级
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz1=='农网改造升级'}" value="农网改造升级">
                                                        农网改造升级
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz1=='无电地区电力建设'}"
                                                            value="无电地区电力建设">无电地区电力建设
                                                    </option>
                                                </select>
                                               <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                农网建设性质2：
                                            </th>
                                            <td class="td">
                                                <select name="nwjsxz2" class="chosen-select">
                                                    <option value="">--请选择--</option>
                                                    <option th:selected="${entity.nwjsxz2=='农业生产供电设施改造'}"
                                                            value="农业生产供电设施改造">农业生产供电设施改造
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz2=='农林场等供电设施'}"
                                                            value="农林场等供电设施">农林场等供电设施
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz2=='示范县'}" value="示范县">示范县
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz2=='其他'}" value="其他">其他</option>
                                                </select>
                                               <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                农网建设性质3：
                                            </th>
                                            <td class="td">
                                                <select name="nwjsxz3" class="chosen-select">
                                                    <option value="">--请选择--</option>
                                                    <option th:selected="${entity.nwjsxz3=='机井通电供电设施改造'}"
                                                            value="机井通电供电设施改造">机井通电供电设施改造
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz3=='农村经济作物和农副产品生产加工供电设施改造'}"
                                                            value="农村经济作物和农副产品生产加工供电设施改造">农村经济作物和农副产品生产加工供电设施改造
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz3=='乡村旅游供电设施改造'}"
                                                            value="乡村旅游供电设施改造">乡村旅游供电设施改造
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz3=='农村公用供电设施改造'}"
                                                            value="农村公用供电设施改造">农村公用供电设施改造
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz3=='畜禽水产养殖供电设施改造'}"
                                                            value="畜禽水产养殖供电设施改造">畜禽水产养殖供电设施改造
                                                    </option>
                                                    <option th:selected="${entity.nwjsxz3=='其他'}" value="其他">其他</option>
                                                </select>
                                                <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="th">
                                                    建设类型：
                                            </th>
                                            <td class="td">
                                                <select name="jsxz" class="chosen-select">
                                                    <option value="">--请选择--</option>
                                                    <option th:selected="${entity.jsxz=='新建'}" value="新建">新建</option>
                                                    <option th:selected="${entity.jsxz=='扩建'}" value="扩建">扩建</option>
                                                </select>
                                                <span style="color: red;">*</span><span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                            <th class="th">
                                                工程性质：
                                            </th>
                                            <td class="td" colspan="3">
                                                <textarea name="gcxz" th:text="${entity.gcxz}"
                                                          style="width: 80%; height: auto!important;"></textarea>
                                                <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--其他信息-->
                        <div id="home2" class="tab-pane">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>变电站信息</h4>
                                    <div class="widget-toolbar" style="line-height: 20px;">
                                        <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table>
                                            <tr>
                                                <th class="th">
                                                        变电站站型：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzlx" th:value=${entity.bdzlx}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">配电装置型式：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzpdzzxs" th:value=${entity.bdzpdzzxs}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">
                                                        无功补偿容性容量(兆乏)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzrxrl" th:value=${entity.bdzrxrl}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="th">
                                                        变电台数(台)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzts" th:value=${entity.bdzts}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">新增容量(兆伏安)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzxzrl" th:value=${entity.bdzxzrl}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>

                                                <th class="th">无功补偿感性容量(兆乏)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzgxrl" th:value=${entity.bdzgxrl}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="th">占地面积(平方米)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzzdmj" th:value=${entity.bdzzdmj}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">变电投资(万元)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdztz" th:value=${entity.bdztz}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <td class="th">新建、扩建10千伏间隔(个)
                                                </td>
                                                <td class="td">
                                                    <input type="text" name="bdzjg" th:value=${entity.bdzjg}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--线路-->
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>线路</h4>
                                    <div class="widget-toolbar" style="line-height: 20px;">
                                        <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table>
                                            <tr>
                                                <td class="th">线路条数(条)：
                                                </td>
                                                <td class="td">
                                                    <input type="text" name="bdzxlts" th:value=${entity.bdzxlts}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <td class="th">线路总长度(km)：
                                                </td>
                                                <td class="td">
                                                    <input type="text" name="bdzxlzcd" th:value=${entity.bdzxlzcd}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <td class="th">线路投资(万元)：
                                                </td>
                                                <td class="td">
                                                    <input type="text" name="bdzxltz" th:value=${entity.bdzxltz}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="th">
                                                        架空线路长度(km)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzjkcd" th:value=${entity.bdzjkcd}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">架空线型号：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzjkxh" th:value=${entity.bdzjkxh}/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="th">
                                                        电缆线路长度(km)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzdlcd" th:value=${entity.bdzdlcd}
                                                           onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')" />
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">电缆型号：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="bdzdlxh" th:value=${entity.bdzdlxh}/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--资金来源-->
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4>
                                        资金来源</h4>
                                    <div class="widget-toolbar" style="line-height: 20px;">
                                        <a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table>
                                            <tr>
                                                <th class="th">
                                                    中央计划(%)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="zyjh" th:value=${entity.zyjh}
                                                           onkeyup="if(isNaN(value))execCommand('undo')"
                                                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">
                                                    公司自筹(%)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="gszc" th:value=${entity.gszc}
                                                           onkeyup="if(isNaN(value))execCommand('undo')"
                                                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">
                                                    县级供电企业自筹(%)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="xjgdqyzc" th:value=${entity.xjgdqyzc}
                                                           onkeyup="if(isNaN(value))execCommand('undo')"
                                                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="th">
                                                    用户投资(%)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="yhtz" th:value=${entity.yhtz}
                                                           onkeyup="if(isNaN(value))execCommand('undo')"
                                                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">
                                                    小区配套费(%)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="xqptf" th:value=${entity.xqptf}
                                                           onkeyup="if(isNaN(value))execCommand('undo')"
                                                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                                <th class="th">
                                                    政府垫资(%)：
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="zfdz" th:value=${entity.zfdz}
                                                           onkeyup="if(isNaN(value))execCommand('undo')"
                                                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="th">
                                                    其他(%)
                                                </th>
                                                <td class="td">
                                                    <input type="text" name="qttz" th:value=${entity.qttz}
                                                           onkeyup="if(isNaN(value))execCommand('undo')"
                                                           onafterpaste="if(isNaN(value))execCommand('undo')"/>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="" limit="6"  class="errorMsgSpan tooltip-show"  style="color: red;text-decoration:none;"></span>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: inline-block ; margin: 10px auto;">
            <input id="hidId" name="id" th:value=${entity.id} type="hidden"/>
            <input name="type" value="4" type="hidden">
            <button id="btnSave" type="button" class="btn btn-primary btn-sm"><i class="icon-save bigger-110"></i>保存
            </button>
            &nbsp; &nbsp; &nbsp;
            <button id="btnCancel" type="button" class="btn  btn-sm"><i class="icon-undo bigger-110"></i>取消</button>
        </div>
    </form>
    <!--<script type="text/javascript">-->
        <!--$(function () {-->
            <!--$("#btnCancel").click(function () {-->
                <!--top.layer.closeAll();-->
            <!--})-->

            <!--$("#btnSave").click(function () {-->
                <!--$.ajax({-->
                    <!--type: "Post",-->
                    <!--url: "/project/xkjgc/save",-->
                    <!--data: $("#editForm").serialize(),-->
                    <!--success: function (data) {-->
                        <!--if (data.success) {-->
                            <!--top.layer.alert('保存成功！',-->
                                <!--{-->
                                    <!--closeBtn: 0-->
                                <!--},-->
                                <!--function () {-->
                                    <!--top.layer.closeAll();-->
                                <!--});-->
                        <!--} else {-->
                            <!--top.layer.alert(data.message);-->
                        <!--}-->
                    <!--},-->
                    <!--error: function (XMLHttpRequest, textStatus, errorThrown) {-->
                        <!--top.layer.alert("保存出错！");-->
                    <!--}-->
                <!--});-->
            <!--});-->
        <!--});-->
    <!--</script>-->
</div>
</body>
</html>