<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="电网规划项目辅助决策系统开发"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- basic styles -->
    <link href="../assets/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="../assets/css/font-awesome-ie7.min.css" th:href="@{/css/font-awesome-ie7.min.css}"/>
    <![endif]-->
    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="../assets/css/jquery-ui-1.10.3.custom.min.css"
          th:href="@{/css/jquery-ui-1.10.3.custom.min.css}"/>
    <link rel="stylesheet" href="../assets/css/jquery.gritter.css" th:href="@{/css/jquery.gritter.css}"/>
    <!-- fonts -->
    <!-- ace styles -->
    <link href="../../Scripts/skins/default/contextmenu.css" rel="stylesheet"
          th:href="@{/skins/default/contextmenu.css}"/>
    <link rel="stylesheet" href="../assets/css/ace.min.css" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" href="../assets/css/ace-rtl.min.css" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" href="../assets/css/ace-skins.min.css" th:href="@{/css/ace-skins.min.css}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../assets/css/ace-ie.min.css" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->
    <!-- ace settings handler -->
    <script src="../assets/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="../assets/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script src="../assets/js/jquery-2.0.3.min.js" th:src="@{/js/jquery-2.0.3.min.js}" type="text/javascript"></script>
    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../assets/js/jquery-1.10.2.min.js' th:src='@{/js/jquery-1.10.2.min.js}'>" + "<" + "/script>");
    </script>
    <![endif]-->
    <script src="../assets/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../assets/js/typeahead-bs2.min.js" th:src="@{/js/typeahead-bs2.min.js}"></script>
    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
    <script src="../assets/js/excanvas.min.js" th:src="@{/js/excanvas.min.js}"></script>
    <![endif]-->
    <script src="../assets/js/jquery-ui-1.10.3.custom.min.js" th:src="@{/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script src="../assets/js/jquery.ui.touch-punch.min.js" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
    <script src="../assets/js/bootbox.min.js" th:src="@{/js/bootbox.min.js}"></script>
    <script src="../assets/js/jquery.easy-pie-chart.min.js" th:src="@{/js/jquery.easy-pie-chart.min.js}"></script>
    <script src="../assets/js/jquery.gritter.min.js" th:src="@{/js/jquery.gritter.min.js}"></script>
    <script src="../assets/js/spin.min.js" th:src="@{/js/spin.min.js}"></script>
    <!-- ace scripts -->
    <script th:src="@{/js/ace-elements.min.js}"></script>
    <script th:src="@{/js/ace.min.js}"></script>
    <script th:src="@{/js/contextmenu.js}" type="text/javascript"></script>
    <script th:src="@{/lib/layer/layer.js}" type="text/javascript"></script>
    <!-- inline styles related to this page -->
    <style type="text/css">
        .spinner-preview {
            width: 100px;
            height: 100px;
            text-align: center;
            margin-top: 60px;
        }

        .menu-toggler > .menu-text:after {
            content: "主菜单";
            top: -36px;
            left: -8px;
            width: 80px;
        }

        .dropdown-preview {
            margin: 0 5px;
            display: inline-block;
        }

        .dropdown-preview > .dropdown-menu {
            display: block;
            position: static;
            margin-bottom: 5px;
        }

        .menu-text {
            color: Black;
        }

        .navbar-background {
            background: url('/images/index_03.jpg') repeat-x;
            height: 115px;
            padding: 0
        }

        .pull-left-background {
            width: 750px;
            height: 115px;
            background: url('/images/index_01.jpg') no-repeat;
        }
    </style>
</head>
<body>
<div id="navbar">
    <div id="divHead">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {
            }
        </script>
        <div class="navbar-container navbar-background" id="navbar-container">
            <div class="pull-left">
                <div class="pull-left-background">
                </div>
            </div>
            <!-- /.navbar-header -->
            <div class="navbar-header pull-right" style="padding-top: 30px;margin-right: 20px" role="navigation">
                <ul class="nav ace-nav">
                    <!--<li class="grey open"><a data-toggle="dropdown" title="待办" id="myTitle1" class="dropdown-toggle"-->
                                             <!--href="#"><i class="icon-tasks" id="myTy"></i><span-->
                            <!--class="badge badge-grey daibancoutnum">-->
                                <!--0</span>-->
                    <!--</a></li>-->
                    <!--<li class="purple"><a data-toggle="dropdown" title="预警" id="myTitle2" class="dropdown-toggle"-->
                                          <!--href="#"><i class="icon-bell-alt icon-animated-bell" id="myTe"></i><span-->
                            <!--class="badge badge-important yujingcountnum">-->
                                <!--0</span> </a>-->
                        <!--<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close ExcMessage">-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="green"><a data-toggle="dropdown" title="异常" id="myTitle3" class="dropdown-toggle"-->
                                         <!--href="#"><i class="icon-bolt icon-animated-vertical" id="myTs"></i><span-->
                            <!--class="badge badge-success mescoutnum">-->
                                <!--0</span> </a>-->
                        <!--<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close ulMessage">-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" th:src="@{/images/avatars/avatar2.png}" alt="Jason's Photo"/>
                            <span class="user-info" id="spanUser">
                            <small>欢迎您,</small>
                            <span id="CurrentUser" th:text="${userName}"></span>
                             </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <!--<li><a href="#"><i class="icon-cog"></i>系统设置 </a></li>-->
                            <li><a id="modifyPwd" href="####"><i class="icon-user"></i>修改密码 </a></li>
                            <li class="divider"></li>
                            <li><a id="logout" href="####"><i class="icon-off"></i>注销 </a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.ace-nav -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </div>
    <div style="clear: both;">
    </div>
</div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#"><span class="menu-text"></span>
        </a>
        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {
                }
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <!--<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">-->
                    <!--<button class="btn btn-success" title="主菜单" id="rwTitle1">-->
                        <!--<i class="icon-bar-chart" id="rwTy"></i>-->
                    <!--</button>-->
                    <!--<button class="btn btn-info" title="工程快捷列表" onclick="return dbClick();"-->
                            <!--id="rwTitle2">-->
                        <!--<i class="icon-legal" id="rwTe"></i>-->
                    <!--</button>-->
                    <!--<button class="btn btn-warning" title="合同快捷列表" onclick="return upClick();"-->
                            <!--id="rwTitle3">-->
                        <!--<i class="icon-edit" id="rwTs"></i>-->
                    <!--</button>-->
                    <!--<button class="btn btn-danger" title="刷新数据表缓存" id="btnShuaXin">-->
                        <!--<i class="icon-cogs" id="rwTf"></i>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">-->
                    <!--<span class="btn btn-success"></span><span class="btn btn-info"></span><span-->
                        <!--class="btn btn-warning">-->
                        <!--</span><span class="btn btn-danger"></span>-->
                <!--</div>-->
            </div>
            <!-- #sidebar-shortcuts -->
            <ul class="nav nav-list" th:utext="${leftTree}" id="ulText">
            </ul>
            <!-- /.nav-list -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                   data-icon2="icon-double-angle-right">
                </i>
            </div>
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'collapsed')
                } catch (e) {
                }
            </script>
        </div>
        <div class="main-content">
            <div class="page-content">
                <!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12" style="padding: 0; padding-right: 5px;">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-sm-6" style="width: 100%">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li class="active showYe "><a data-toggle="tab" href="#home"><i
                                                class="green icon-home bigger-110">
                                        </i>首页 </a></li>
                                    </ul>
                                    <div class="tab-content" id="tab-content" style="padding-bottom: 0px">
                                        <div id="home" class="tab-pane active">
                                            <iframe frameborder="0" id="iFrame" src="index.html"
                                                    style="width:100%;height:100%;"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /span -->
                            <div class="vspace-xs-6">
                            </div>
                        </div>
                        <!-- /row -->
                        <!-- /row -->
                        <!-- /row -->
                        <!-- /row -->
                        <!-- /row -->
                        <script type="text/javascript">
                            var $path_assets = "assets"; //this will be used in gritter alerts containing images
                        </script>
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->
        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="icon-cog bigger-150"></i>
            </div>
            <div class="ace-settings-box" id="ace-settings-box">
                <div>
                    <div class="pull-left">
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="default" value="#438EB9">#438EB9</option>
                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                        </select>
                    </div>
                    <span>换肤</span>
                </div>
                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-head"/>
                    <label class="lbl" for="ace-settings-head">
                        头部<b>隐藏</b>
                    </label>
                </div>
                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"/>
                    <label class="lbl" for="ace-settings-rtl">
                        菜单左右调整</label>
                </div>
                <div>
                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container"/>
                    <label class="lbl" for="ace-settings-add-container">
                        固定大小<b>居中</b>
                    </label>
                </div>
            </div>
        </div>
        <!-- /#ace-settings-container -->
    </div>
    <!-- /.main-container-inner -->
</div>

<!-- inline scripts related to this page -->
<!--<script language ="javaScript">-->
    <!--&lt;!&ndash;关闭浏览器 &ndash;&gt;-->
    <!--var flag = true;-->
    <!--window.onbeforeunload = function () {-->
        <!--if (flag) {-->
            <!--var evt = window.event || arguments[0];-->
            <!--var userAgent = navigator.userAgent;-->
            <!--if (userAgent.indexOf("MSIE") > 0) {-->
                <!--var n = window.event.screenX - window.screenLeft;-->
                <!--var b = n > document.documentElement.scrollWidth - 20;-->
                <!--if (b && window.event.clientY < 0 || window.event.altKey) {-->
                    <!--window.event.returnValue = ("该操作将会导致非正常退出系统(正确退出系统方式：点击退出系统按钮)，您是否确认?");-->
                <!--}else {-->
                    <!--return ("该操作将会导致非正常退出系统(正确退出系统方式：点击退出系统按钮)，您是否确认?");-->
                <!--}-->
            <!--}else if (userAgent.indexOf("Firefox") > 0) {-->
                <!--return ("该操作将会导致非正常退出系统(正确退出系统方式：点击退出系统按钮)，您是否确认?");-->
            <!--}-->
            <!--else if(userAgent.indexOf("Mozilla") > 0)-->
            <!--{-->
                <!--return ("该操作将会导致非正常退出系统(正确退出系统方式：点击退出系统按钮)，您是否确认?");-->
            <!--}-->
        <!--}-->
    <!--}-->
<!--</script>-->
<script type="text/javascript">
//    $(function () {
//
//
//        var getBrowserType =   function () {
//            var userAgent = navigator.userAgent.toLowerCase()
//            if(/firefox/.test(userAgent))
//            {
//                return "firefox";
//            }
//            else if(/webkit/.test(userAgent))
//            {
//                return "webkit";
//            }
//            else if(/opera/.test(userAgent))
//            {
//                return "opera";
//            }
//            else if(/msie/.test(userAgent))
//            {
//                return "msie";
//            }
//        }
//    });


    function reLoadJiHuo() {
        $("#myTab li").each(function () {
            if ($(this).hasClass("active")) {
                var jiHuoId = $(this).find("a").attr("href");
                if ($(jiHuoId).find("iframe").length > 0) {
                    $(jiHuoId).find("iframe")[0].src = $(jiHuoId).find("iframe")[0].src;
                }
            }
        });
    }
    jQuery(function ($) {
        $('#spinner-opts small').css({display: 'inline-block', width: '60px'})

        var slide_styles = ['', 'green', 'red', 'purple', 'orange', 'dark'];
        var ii = 0;
        $("#spinner-opts input[type=text]").each(function () {
            var $this = $(this);
            $this.hide().after('<span />');
            $this.next().addClass('ui-slider-small').addClass("inline ui-slider-" + slide_styles[ii++ % slide_styles.length]).css({'width': '125px'}).slider({
                value: parseInt($this.val()),
                range: "min",
                animate: true,
                min: parseInt($this.data('min')),
                max: parseInt($this.data('max')),
                step: parseFloat($this.data('step')),
                slide: function (event, ui) {
                    $this.attr('value', ui.value);
                    spinner_update();
                }
            });
        });

        $.fn.spin = function (opts) {
            this.each(function () {
                var $this = $(this),
                    data = $this.data();

                if (data.spinner) {
                    data.spinner.stop();
                    delete data.spinner;
                }
                if (opts !== false) {
                    data.spinner = new Spinner($.extend({color: $this.css('color')}, opts)).spin(this);
                }
            });
            return this;
        };

        function spinner_update() {
            var opts = {};
            $('#spinner-opts input[type=text]').each(function () {
                opts[this.name] = parseFloat(this.value);
            });
            $('#spinner-preview').spin(opts);
        }

        $('#id-pills-stacked').removeAttr('checked').on('click', function () {
            $('.nav-pills').toggleClass('nav-stacked');
        });
    });
</script>
<script type="text/javascript">
    $("#ace-settings-head").removeAttr("checked").on("click", function () {
        if (this.checked) {
            $("#divHead").css("display", "none");
            $(this).next().find("b").text("显示");
            $(".tab-pane").height(document.documentElement.clientHeight - getDivHeadHeight() - 85);
        }
        else {
            $("#divHead").css("display", "block");
            $(this).next().find("b").text("隐藏");
            $(".tab-pane").height(document.documentElement.clientHeight - getDivHeadHeight() - 85);
        }
    });

    function createFrame(url) {
        var s = '<iframe  frameborder="0"  src="' + url + '" style="width:100%;height:100%;"></iframe>';
        return s;
    }

    function addTab(oo) {
        if ($(oo).parent().find("ul").length > 0) {

        } else {
            $("#ulText .active").removeClass("active");
            $(oo).parent().addClass("active");
            var ooo = $(oo).parent();
            for (var i = 0; i < 10; i++) {
                if (ooo.find(".mainBiu").length > 0) {
                    ooo.addClass("active");
                    ooo.addClass("linshi");
                    break;
                }
                ooo = ooo.parent();
            }
            $(".mainBiu").each(function () {
                if ($(this).parent().hasClass("linshi")) {
                    $(this).parent().removeClass("linshi");
                } else {
                    $(this).parent().removeClass("active");
                    $(this).parent().removeClass("open");
                    $(this).parent().find("ul").hide();
                }
            });
            var tabTitle = $(oo).text();
            var url = $(oo).attr("url");
            var iconUrl = $(oo).attr("icon");
            createTab(url,tabTitle,iconUrl);
        }
    }

    function  createTab(url,tabTitle,iconUrl) {
        url = url.replace("\\", "/");
        $("#myTab").find(".active").removeClass("active");
        $("#tab-content").find(".active").removeClass("active");
        var nameUrl = url.replace(/[\/?.&=]/g, '');

        if ($("#" + nameUrl).length > 0) {
            $("#" + nameUrl).addClass("active");
            if ($("a[href='#" + nameUrl + "']").length > 0) {
                $("a[href='#" + nameUrl + "']").parent().addClass("active");
                $("#" + nameUrl).find("iframe")[0].src = url;
            }
        } else {
            var strLi = "<li class=\"active yidong\"><a data-toggle=\"tab\" href=\"#" + nameUrl + "\"><i class=\"green " + iconUrl + " bigger-110\"></i>"
                + tabTitle + " </a></li>";
            var lioo = $(strLi);
            $("#myTab").append(lioo);
            bindContextMenu(lioo, nameUrl);
            var strDiv = "<div id=\"" + nameUrl + "\" class=\"tab-pane active\"></div>";
            $("#tab-content").append($(strDiv));
            $("#" + nameUrl).html($(createFrame(url)));
            $("#" + nameUrl).height(document.documentElement.clientHeight - getDivHeadHeight() - 85);
        }
    }

    //添加tab
    function addTabNew(urlNew, text) {
        var oo = null;
        $("#ulText").find("a").each(function () {
            if ($(this).text().trim() == text)
                oo = this;
        });
        if (oo == undefined) return;
        if ($(oo).parent().find("ul").length > 0) {

        } else {
            $("#ulText .active").removeClass("active");
            $(oo).parent().addClass("active");
            var ooo = $(oo).parent();
            for (var i = 0; i < 10; i++) {
                if (ooo.find(".mainBiu").length > 0) {
                    ooo.addClass("active");
                    ooo.addClass("linshi");
                    break;
                }
                ooo = ooo.parent();
            }
            $(".mainBiu").each(function () {
                if ($(this).parent().hasClass("linshi")) {
                    $(this).parent().removeClass("linshi");
                } else {
                    $(this).parent().removeClass("active");
                    $(this).parent().removeClass("open");
                    $(this).parent().find("ul").hide();
                }
            });
            var tabTitle = $(oo).text();
            var url = $(oo).attr("url");
            url = url.replace("\\", "/");
            var iconUrl = $(oo).attr("icon");
            $("#myTab").find(".active").removeClass("active");
            $("#tab-content").find(".active").removeClass("active");
            var nameUrl = url.substring(url.lastIndexOf("/") + 1, url.length).replace("=", "").replace("?", "").replace(".", "").replace("&", "");

            if ($("#" + nameUrl).length > 0) {
                $("#" + nameUrl).addClass("active");
                if ($("a[href='#" + nameUrl + "']").length > 0) {
                    $("a[href='#" + nameUrl + "']").parent().addClass("active");
                    $("#" + nameUrl).find("iframe")[0].src = urlNew;
                }
            } else {

                var strLi = "<li class=\"active\"><a data-toggle=\"tab\" href=\"#" + nameUrl + "\"><i class=\"green " + iconUrl + " bigger-110\"></i>"
                    + tabTitle + " </a></li>";
                var lioo = $(strLi);
                $("#myTab").append(lioo);
                bindContextMenu(lioo, nameUrl);
                var strDiv = "<div id=\"" + nameUrl + "\" class=\"tab-pane active\"></div>";
                $("#tab-content").append($(strDiv));
                $("#" + nameUrl).html($(createFrame(urlNew)));
                $("#" + nameUrl).height(document.documentElement.clientHeight - getDivHeadHeight() - 85);
            }
        }
    }

    $(window).resize(function () {
        $(".tab-pane").height(document.documentElement.clientHeight - getDivHeadHeight() - 85);
    });

    $("#home").height(document.documentElement.clientHeight - getDivHeadHeight() - 85);

    function getDivHeadHeight() {
        if ($("#divHead").is(":hidden")) {
            return 0;
        }
        else
            return $("#divHead").height();
    }

    //tab右键事件
    function bindContextMenu(lioo, id) {
        lioo.contextmenu({
            items: [{
                text: '刷新',
                icon: '/skins/default/icons/refresh.png',
                action: function (target) {
                    $("#" + id).find("iframe")[0].src = $("#" + id).find("iframe")[0].src;
                }
            }, {
                text: '关闭当前页',
                icon: '/skins/default/icons/close.png',
                action: function (target) {
                    if (id == "home") return;
                    lioo.remove();
                    $("#" + id).remove();
                    if ($("#myTab li").length == 1 || $("#myTab .active").length == 0) {
                        $($("#myTab li")[0]).addClass("active");
                        $("#home").addClass("active");
                    }
                }
            }, {
                text: '全部关闭',
                icon: '/skins/default/icons/allclose.png',
                action: function (target) {
                    $("#myTab li").each(function () {
                        if ($(this).find("a[href='#home']").length == 0) {
                            var ooName = $($(this).find("a")[0]).attr("href");
                            $(this).remove();
                            $(ooName).remove();
                        }
                    });
                    $("#myTab li").addClass("active");
                    $("#home").addClass("active");
                }
            }, {
                text: '除此之外全部关闭',
                icon: '/skins/default/icons/chuci.png',
                action: function (target) {
                    $("#myTab li").each(function () {
                        if ($(this).find("a[href='#home']").length == 0) {
                            var ooName = $($(this).find("a")[0]).attr("href");
                            if (ooName != "#" + id) {
                                $(this).remove();
                                $(ooName).remove();
                            }
                        }
                    });
                    $("#myTab li").removeClass("active");
                    $("#tab-content li").removeClass("active");
                    lioo.addClass("active");
                    $("#" + id).addClass("active");
                }
            }, {
                text: '当前页左侧全部关闭',
                icon: '/skins/default/icons/left.png',
                action: function (target) {
                    var bol = true;
                    $("#myTab li").each(function () {
                        if ($(this).find("a[href='#home']").length == 0) {
                            var ooName = $($(this).find("a")[0]).attr("href");
                            if (ooName != "#" + id && bol) {
                                $(this).remove();
                                $(ooName).remove();
                            } else {
                                bol = false;
                            }
                        }
                    });
                    $("#myTab li").removeClass("active");
                    $("#tab-content li").removeClass("active");
                    lioo.addClass("active");
                    $("#" + id).addClass("active");
                }

            }, {
                text: '当前页右侧全部关闭',
                icon: '/skins/default/icons/right.png',
                action: function (target) {
                    var bol = false;
                    $("#myTab li").each(function () {
                        if ($(this).find("a[href='#home']").length == 0) {
                            var ooName = $($(this).find("a")[0]).attr("href");
                            if (ooName != "#" + id) {
                                if (bol) {
                                    $(this).remove();
                                    $(ooName).remove();
                                }
                            } else {
                                bol = true;
                            }
                        }
                    });
                    $("#myTab li").removeClass("active");
                    $("#tab-content li").removeClass("active");
                    lioo.addClass("active");
                    $("#" + id).addClass("active");
                }

            }, {
                text: '退出菜单',
                icon: '/skins/default/icons/out.png',
                action: function (target) {
                    $(".simple-contextmenu").remove();
                }

            }]
        });
    }
    function addMessang(title, neirong) {
        //'内容AAA<br> <a href="#" class="red">magnis dis parturient</a> montes, nascetur ridiculus mus.<br>日期：2014-05-30
        $.gritter.add({
            title: title,
            text: neirong,
            sticky: true,
            time: '',
            before_open: function () {
                if ($('.gritter-item-wrapper').length >= 3) {
                    return false;
                }
            },
            class_name: 'gritter-info gritter-light'
        });
    }

    //预警＆异常
    function getdata() {
        /*
         <li class="dropdown-header"><i class="icon-envelope-alt"></i>5 条消息 </li>

         <li><a href="#"><span class="msg-body"><span class="msg-title"><span class="blue">Alex:</span> Ciaosociis natoque penatibus et auctor ... </span></span></a></li>

         <li><a href="">查看全部 <i class="icon-arrow-right"></i></a></li>

         */

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "DefaultMain.aspx/Check",
            data: "{}",
            success: function (result) {
                var data = result.d + "";
                CqData = data.split("!");
                if (data.indexOf("到期") != -1) {
                }
                if (data.indexOf("超期") != -1) {
                }
                if (result != 'undefined') {
                    var countMessage = 0;
                    var messageZhongStr = "";
                    var yuJingZhongStr = "";
                    var countYuJing = 0;

                    //清除异常提示框
                    $("#gritter-notice-wrapper").html("");

                    for (i = 0; i < CqData.length - 1; i++) {
                        var data = CqData[i] + "";
                        var data2 = data.split("|");

                        //Id|工作名称|当前步骤名称|完成时间|状态（已超期/即将到期）
                        var _str = "" + data2[1] + "在" + data2[2] + "这一步需要在" + data2[3] + "前完成";

                        if (data.indexOf("到期") != -1) {//预警
                            countYuJing++;

                            yuJingZhongStr += "<li><a href=\"javascript:return false;\" onclick=\"addTabNew('../../Web/WorkInfo/Point.aspx?id=" + data2[0] + "','我的工作')\" ><span class=\"msg-body\"><span class=\"msg-title\">" +
                                "<span class=\"blue\">预警:</span> " + _str + " </span></span></a></li> ";
                        }
                        else {//异常
                            countMessage++;
                            messageZhongStr += "<li><a href=\"javascript:return false;\" onclick=\"addTabNew('../../Web/WorkInfo/Point.aspx?id=" + data2[0] + "','我的工作')\"><span class=\"msg-body\"><span class=\"msg-title\"><span class=\"blue\">异常:</span> " + _str + " </span></span></a></li> ";
                            addMessang("异常信息", "<a href=\"javascript:return false;\" onclick=\"addTabNew('../../Web/WorkInfo/Point.aspx?id=" + data2[0] + "','我的工作')\"><span class=\"msg-body\"><span class=\"msg-title\"><span class=\"blue\">异常:</span> " + _str + " </span></span></a>");
                        }
                    }
                    var messageHtml = messageZhongStr + " <li class=\"dropdown-header\"><i class=\"icon-envelope-alt\"></i>" + countMessage + " 条异常信息 </li>";


                    var YuJingmessageHtml = yuJingZhongStr + " <li class=\"dropdown-header\"><i class=\"icon-envelope-alt\"></i>" + countYuJing + " 条预警信息 </li>";

                    if (countMessage != 0) {
                        $(".mescoutnum").text(countMessage);
                        $(".ulMessage").html(messageHtml);
                    } else {
                        $(".mescoutnum").text(0);
                        $(".ulMessage").html(messageHtml);
                    }
                    if (countYuJing != 0) {
                        $(".yujingcountnum").text(countYuJing);
                        $(".ExcMessage").html(YuJingmessageHtml);
                    } else {
                        $(".yujingcountnum").text(0);
                        $(".ExcMessage").html(YuJingmessageHtml);
                    }

                }

            },

            error: function (result) {
            }
        });
    }


    //代办
    function DaiBan() {
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "DefaultMain.aspx/DaiBan",
            data: "{}",
            success: function (result) {
                var countMessage = 0;
                var messageZhongStr = "";

                var data = result.d + "";
                CqData = data.split("!");

                if (result != 'undefined') {
                    for (i = 0; i < CqData.length - 1; i++) {
                        var data = CqData[i] + "";
                        //Id|工作名称|当前步骤名称
                        var data2 = data.split("|");
                        var _str = data2[1] + "在" + data2[2] + "这一步待办理！"


                        countMessage++;
                        messageZhongStr += "<li><a href=\"#\" onclick=\"addTabNew('../../Web/WorkInfo/Point.aspx?id=" + data2[0] + "','我的工作')\"><span class=\"msg-body\"><span class=\"msg-title\"><span class=\"blue\">待办:</span> " + _str + " </span></span></a></li> ";

                    }
                }
                var messageHtml = " <li class=\"dropdown-header\"><i class=\"icon-envelope-alt\"></i>" + countMessage + " 条消息 </li>";
                messageHtml += messageZhongStr;
                messageHtml += " <li><a href=\"#\" onclick=\"addTabNew('../../Web/WorkInfo/MyWorkList1.aspx','我的工作')\">查看全部 <i class=\"icon-arrow-right\"></i></a></li>";
                $(".DaiBan").html(messageHtml);
                $(".daibancoutnum").text(countMessage);
            },

            error: function (result) {
            }
        });
    }

    function xiugaiTitleo(btlty, btltybt) {
        //样式修改
        $("#myTy").removeClass("icon-tasks");
        $("#myTy").addClass(btlty);

        //修改title
        $("#myTitle1").attr("title", btltybt);
    }
    function xiugaiTitlet(btlte, btltebt) {
        //样式修改
        $("#myTe").removeClass("icon-bell-alt icon-animated-bell");
        $("#myTe").addClass(btlte);

        //修改title
        $("#myTitle2").attr("title", btltebt);
    }
    function xiugaiTitles(btlts, btltsbt) {
        //样式修改
        $("#myTs").removeClass("icon-bolt icon-animated-vertical");
        $("#myTs").addClass(btlts);

        //修改title
        $("#myTitle3").attr("title", btltsbt);
    }
    function xiugaiTitlef(rwlty, rwltybt) {
        //样式修改
        $("#rwTy").removeClass("icon-bar-chart");
        $("#rwTy").addClass(rwlty);

        //修改title
        $("#rwTitle1").attr("title", rwltybt);
    }
    function xiugaiTitlew(rwlte, rwltebt) {
        //样式修改
        $("#rwTe").removeClass("icon-legal");
        $("#rwTe").addClass(rwlte);

        //修改title
        $("#rwTitle2").attr("title", rwltebt);
    }
    function xiugaiTitlel(rwlts, rwltsbt) {
        //样式修改
        $("#rwTs").removeClass("icon-edit");
        $("#rwTs").addClass(rwlts);

        //修改title
        $("#rwTitle3").attr("title", rwltsbt);
    }
    function xiugaiTitleq(rwltf, rwltfbt) {
        //样式修改
        $("#rwTf").removeClass("icon-cogs");
        $("#rwTf").addClass(rwltf);

        //修改title
        $("#btnShuaXin").attr("title", rwltfbt);
    }
    function Logo(logo) {
        //修改title
        $("#Logo").css({"background-image": "url(" + logo + ")"});
    }
</script>
<script type="text/javascript">
    function dbClick() {
        $.layer({
            type: 2,
            maxmin: false,
            shadeClose: false,
            moveOut: true,
            title: '备份数据',
            zIndex: layer.zIndex,
            shade: [0.7, '#fff'], //  //式窗体效果的话，添加这个属性，不要上面的
            offset: ['', ''],
            area: [860, 400],
            iframe: {src: '../MainPage/DownLoadInfo.aspx'},
            success: function (othis) {

                //top.layer.setTop
                //开启点击使当前窗口置顶功能
                layer.setTop(othis);
            },
            yes: function (index) {
                var frmName = "#xubox_iframe" + index;
                var frm = $(frmName);
                if (frm[0].contentWindow.Ok()) {
                    //JqueryDialog.Close();
                    //window.location = window.location;
                    //$('#grid-table').trigger("reloadGrid");

                } else {
                    //layer.close(index);
                }

            },
            no: function (index) {
                layer.close(index);
            },
            close: function (index) {

            }
        });

        return false;
    }

    function upClick() {
        $.layer({
            type: 2,
            maxmin: false,
            shadeClose: false,
            btns: 2,
            btn: ['还原数据', '取消'],
            moveOut: true,
            title: '恢复数据',
            zIndex: layer.zIndex,
            shade: [0.7, '#fff'],
            offset: ['', ''],
            area: [360, 200],
            iframe: {src: '../MainPage/UpLoadInfo.aspx'},
            success: function (othis) {

                //top.layer.setTop
                //开启点击使当前窗口置顶功能
                layer.setTop(othis);
            },
            yes: function (index) {
                var frmName = "#xubox_iframe" + index;
                var frm = $(frmName);
                if (frm[0].contentWindow.Ok()) {

                } else {
                }

            },
            no: function (index) {
                layer.close(index);
            },
            close: function (index) {

            }

        });

        return false;
    }
</script>
<script type="text/javascript">
    $(function () {
        $(window).bind('beforeunload',function (event) {
            event = (event)?event:window.event;
            var msg = "如果你正在关闭网站，请先安全注销登录！";
            event.returnValue = msg
            return msg;
        });

        $("#logout").on("click", function () {
              $(window).unbind('beforeunload');
              location.href= "logout";
        });

        $("#modifyPwd").on("click",function () {
            var url = "/system/user/modfiyPwd";
            top.layer.open({
                type: 2,
                title: "修改密码",
                shadeClose: false,
                shade: [0.2, '#393D49'],
                maxmin: true,
                area: ["450px", "340px"],
                content: url,
                cancel: function(index, layero){
                    var res = parent.window["layui-layer-iframe" + index].callbackdata();
                    //打印返回的值，看是否有我们想返回的值。
                    if(res) {
                        parent.location.href = "/login";
                    }
                }
            });
        });

        $(document).on("click", ".biu", function () {
            addTab(this);
            $('.nav-tabs').sortable({items: '.yidong', axis: 'x'});
            if ($(".showYe").length > 0)
                $(".showYe").draggable({});
            $(".showYe").draggable("disable");
        });

        $(document).on("click", ".mainBiu", function () {
            if ($(this).parent().hasClass("open")) {
                if ($(this).parent().find(".active").length > 0) {
                    $(this).parent().addClass("active");
                }
            }
        });

        bindContextMenu($($("#myTab").find("li")[0]), "home");
        $(".tab-pane").height(document.documentElement.clientHeight - getDivHeadHeight() - 85);
    });
</script>
</body>
</html>