<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/css/font-awesome-ie7.min.css}"/>
    <![endif]-->
    <!-- page specific plugin styles -->
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.3.custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery.gritter.css}"/>
    <link rel="stylesheet" th:href="@{/css/chosen.css}">
    <link rel="stylesheet" th:href="@{/lib/jqGrid/css/ui.jqgrid.css}">
    <link rel="stylesheet" th:href="@{/css/datepicker.css}">
    <!-- fonts -->
    <!-- ace styles -->
    <link rel="stylesheet" th:href="@{/skins/default/contextmenu.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-fonts.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-skins.min.css}"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- ace settings handler -->
    <script src="../assets/js/ace-extra.min.js" th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
    <script th:src="@{/js/jquery-2.0.3.min.js}" type="text/javascript"></script>
    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script th:src='@{/js/jquery-1.10.2.min.js}'>" + "<" + "/script>");
    </script>
    <![endif]-->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/typeahead-bs2.min.js}"></script>
    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
    <script th:src="@{/js/excanvas.min.js}"></script>
    <![endif]-->

    <script th:src="@{/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/js/chosen.jquery.min.js}"></script>

    <script th:src="@{/js/bootbox.min.js}"></script>
    <script th:src="@{/js/jquery.gritter.min.js}"></script>
    <script th:src="@{/js/spin.min.js}"></script>
    <!-- ace scripts -->
    <script th:src="@{/js/ace-elements.min.js}"></script>
    <script th:src="@{/js/ace.min.js}"></script>
    <script th:src="@{/js/contextmenu.js}" type="text/javascript"></script>
    <script th:src="@{/lib/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/lib/jqGrid/js/jquery.jqGrid.min.js}"></script>
    <script th:src="@{/lib/jqGrid/js/i18n/grid.locale-cn.js}"></script>
</head>
<body>
<div class="main-container" id="main-container" style="width: 99%">
    <div class="main-container-inner">
        <div class="page-content" style="padding-left: 1px; padding-top: 0px;" layout:fragment="list-content">
        </div>
    </div>
</div>
</body>
</html>