<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{listlayout}">
<head>
    <title>变电站统计报表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/lib/ligerUI/skins/Aqua/css/ligerui-all.css}">
    <script th:src="@{/lib/ligerUI/js/core/base.js}"></script>
    <!--<script th:src="@{/lib/ligerUI/js/ligerui.min.js}"></script>-->
    <script th:src="@{/lib/ligerUI/js/plugins/ligerGrid.js}"></script>
    <script th:src="@{/lib/ligerUI/js/plugins/ligerDrag.js}"></script>
    <script th:src="@{/lib/ligerUI/js/plugins/ligerResizable.js}"></script>
    <script th:inline="javascript">
        $(function () {
            /*<![CDATA[*/
            var baseUrl = [[${autoBuilderParam.mapUrl}]];
            $(".chosen-select").chosen();

            $("#grid").ligerGrid({
                columns: [
                    {display: '所属公司', name: 'ywdwName', minWidth: 60, width: 100},
                    {display: '变电站名称', name: 'bdzName', minWidth: 60, width: 100, frozen: true},
                    {display: '电压等级', name: 'dydj', minWidth: 60, width: 100},
                    {display: '变电站属性', name: 'syfs', minWidth: 60, width: 100},
                    {display: '所处供区名称', name: 'qyName', minWidth: 60, width: 100},
                    {display: '所处供电类别', name: 'gqlx', minWidth: 60, width: 100},
                    {display: '城农网', name: 'cnw', minWidth: 60, width: 100},
                    {display: '占地面积', name: 'zdmj', minWidth: 60, width: 100},
                    {display: '主变台数(台)', name: 'byqsl', minWidth: 60, width: 100},
                    {display: '断路器(台)', name: 'dlq', minWidth: 60, width: 100},
                    {display: '容量(MVA)', name: 'zbzrl', minWidth: 60, width: 100},
                    {display: '容量构成', name: 'rlgc', minWidth: 60, width: 100},
                    {display: '建设形式', name: 'azxs', minWidth: 60, width: 100},
                    {display: '是否属于单线连接', name: 'dwjg', minWidth: 60, width: 100},
                    {display: '是否满足主变N-1', name: 'n_1', minWidth: 60, width: 100},
                    {display: '投产年限', name: 'btysj', minWidth: 60, width: 100}
                ], pageSize: 20, checkbox: true,
                allowHideColumn: false,
                url: "/facility/bdzxx/statemetLoad",
                width: '98%', height: '100%', rownumbers: true
            });

            $("#btnSearch").click(function () {
                var data = $('#queryForm').serialize();
                $("#grid").ligerGrid().set({
                    url:"/facility/bdzxx/statemetLoad?"+ data
                });
                $("#grid").ligerGrid().loadData();
            });

            $("#btnExport").click(function () {
                var data = $("#queryForm").serialize();
                location.href = baseUrl + "/exportExcel?" + data;
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div class="page-content" style=" padding: 0px 8px 0px 1px;" layout:fragment="list-content">
    <div id="operDiv" class="page-header" style="padding: 0px; padding-bottom: 4px;" th:utext="${queryForm}">
    </div>
    <div class="row" style="margin-top: -8px;">
        <div class="col-xs-12">
            <div id="grid" style="margin:0; padding:0"></div>
        </div>
    </div>
</div>
</body>
</html>