<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylin.electricassistsys.mapper.facility.DyxlxxMapper">
    <select id="getEntitiesByCondition" parameterType="com.kylin.electricassistsys.entity.facility.DyxlxxEntity"  resultType="com.kylin.electricassistsys.entity.facility.DyxlxxEntity">
        SELECT Dyxlxx.*,D1.name AS qyname,D6.name AS ywdwName,D2.name AS dlxhname FROM Dyxlxx
        LEFT JOIN Dxcs D2 ON LOWER(Dyxlxx.dlxh) = LOWER(D2.id)
        LEFT JOIN PowerSupplyZone D1 ON LOWER(Dyxlxx.qyId) = LOWER(D1.id)
        LEFT JOIN Unit D6  ON LOWER(Dyxlxx.ywdw) = LOWER(D6.id) WHERE 1=1
        <if test="xlmc!= null and xlmc != '' ">
            AND Dyxlxx.xlmc LIKE CONCAT(CONCAT('%', #{xlmc}), '%')
        </if>
        <if test="qyId!= null and qyId != '' ">
            AND LOWER(Dyxlxx.qyId)=LOWER(#{qyId})
        </if>
        <if test="gqlx!= null and gqlx != '' ">
            AND LOWER(Dyxlxx.gqlx)=LOWER(#{gqlx})
        </if>
        <if test="ywdw!= null and ywdw != '' ">
            AND LOWER(Dyxlxx.ywdw)=LOWER(#{ywdw})
        </if>
        ORDER BY Dyxlxx.updateTime DESC
    </select>
</mapper>